h1, h2, h3 {
  font-weight: 500;
  line-height: 1.1;
  margin-top: 0;
}

h1 {
  font-size: clamp(1.75rem, 1rem + 2vw, 2.5rem);
}

h2 {
  font-size: clamp(1.375rem, 0.875rem + 1.5vw, 2.25rem);
}

p {
  margin-top: 0;
  font-size: 1rem;
}

a, a:visited, a:active {
  text-decoration: none;
  color: hsl(0deg, 0%, 0%);
}
a:hover, a:visited:hover, a:active:hover {
  color: hsl(264deg, 38%, 44%);
}

html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", cursive;
  font-size: 1rem;
  color: hsl(0deg, 0%, 0%);
  min-height: 200vh;
}

.container {
  max-width: 70rem;
  margin: 0 auto;
}
.container--pall {
  padding-top: 3.5rem;
  padding-right: 1.5rem;
  padding-bottom: 3.5rem;
  padding-left: 1.5rem;
}
@media (min-width: 56.25rem) {
  .container--pall {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
.container--py {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}
@media (min-width: 56.25rem) {
  .container--py {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
.container--px {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.container--pt {
  padding-top: 3.5rem;
}
@media (min-width: 56.25rem) {
  .container--pt {
    padding-top: 6rem;
  }
}
.container--pr {
  padding-right: 1.5rem;
}
.container--pb {
  padding-bottom: 3.5rem;
}
@media (min-width: 56.25rem) {
  .container--pb {
    padding-bottom: 5rem;
  }
}
.container--pl {
  padding-left: 1.5rem;
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ai-c {
  align-items: center;
}
.flex-ai-end {
  align-items: flex-end;
}

button, .button {
  padding: 0.875rem 2.1875rem;
  border-radius: 50px;
  border: 0;
  font-weight: 550;
  font-family: "Comfortaa", cursive;
  background-color: hsl(264deg, 38%, 44%);
  color: hsl(0deg, 0%, 100%);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
button:hover, .button:hover {
  color: hsl(0deg, 0%, 100%);
  box-shadow: 0 15px 15px hsla(275deg, 89%, 22%, 0.4);
}

@media (max-width: 56.24875rem) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 56.25rem) {
  .hide-for-desktop {
    display: none;
  }
}

.header {
  position: relative;
  z-index: 1;
}
.header.open .header__menu > span:first-child {
  transform: rotate(45deg);
}
.header.open .header__menu > span:nth-child(2) {
  opacity: 0;
}
.header.open .header__menu > span:last-child {
  transform: rotate(-45deg);
}
.header .overlay {
  opacity: 0;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.header nav {
  position: relative;
  background-color: hsl(0deg, 0%, 100%);
  padding-top: 1.0625rem;
  padding-bottom: 1.0625rem;
}
.header__logo p {
  width: 12.5rem;
  height: 1.375rem;
  font-size: 28px;
}
.header__menu span {
  display: block;
  width: 1.625rem;
  height: 0.125rem;
  background-color: hsl(0deg, 0%, 0%);
  transition: all 300ms ease-in-out;
  transform-origin: 3px 1px;
}
.header__menu span:not(:last-child) {
  margin-bottom: 0.3125rem;
}
.header__mob_links {
  position: absolute;
  width: calc(100% - 3rem);
  left: 50%;
  transform: translateX(-50%);
  background-color: hsl(0deg, 0%, 100%);
  margin-top: 1.5rem;
  padding: 1.625rem;
  border-radius: 7px;
}
.header__mob_links a {
  color: hsl(0deg, 0%, 0%);
  padding: 0.625rem;
  display: block;
  text-align: center;
  font-weight: 600;
}
.header__links a {
  font-size: 1.0625rem;
  font-weight: 600;
  transition: color 0.2s ease-in-out;
}
.header__links a:not(:last-child) {
  margin-right: 30px;
}

.faded {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
.fade_in {
  -webkit-animation: fade-in 200ms ease-in-out forwards;
          animation: fade-in 200ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
.fade_out {
  -webkit-animation: fade-out 200ms ease-in-out forwards;
          animation: fade-out 200ms ease-in-out forwards;
}

@media (min-width: 56.25rem) {
  .school-title {
    display: flex;
    align-items: center;
  }
}
.school-title__image {
  background-image: url(../images/school-title-image.svg);
  background-size: 90%;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 27rem;
}
@media (max-width: 43.74875rem) {
  .school-title__image {
    min-height: 19rem;
  }
}
@media (min-width: 56.25rem) {
  .school-title__image {
    flex: 2;
    order: 2;
    height: 31.25rem;
    background-size: 90%;
  }
}
.school-title__text {
  text-align: center;
}
@media (min-width: 56.25rem) {
  .school-title__text {
    flex: 2;
    order: 1;
    text-align: left;
  }
}
.school-title__text h1 {
  font-weight: 550;
  line-height: 1;
  margin-bottom: 1.5rem;
}
.school-title__text p {
  line-height: 1.5;
  margin-bottom: 2.25rem;
}

.advantages {
  text-align: center;
}
@media (min-width: 43.75rem) {
  .advantages {
    text-align: left;
  }
}

.advantage__intro {
  margin-bottom: 3.125rem;
}
@media (min-width: 56.25rem) {
  .advantage__intro {
    width: 60%;
  }
}
@media (min-width: 43.75rem) {
  .advantage__grid {
    display: flex;
    flex-wrap: wrap;
  }
}
.advantage__item {
  padding: 1.0625rem;
}
@media (min-width: 43.75rem) {
  .advantage__item {
    flex: 0 0 50%;
  }
}
.advantage__icon {
  margin-bottom: 1.875rem;
}
@media (min-width: 56.25rem) {
  .advantage__icon {
    margin-bottom: 2.5rem;
  }
}
.advantage__title {
  font-size: 1.125rem;
  margin-bottom: 1.1875rem;
  font-weight: 600;
}
@media (min-width: 56.25rem) {
  .advantage__title {
    margin-bottom: 1.5rem;
  }
}
.advantage__description {
  line-height: 1.5rem;
}

@media (min-width: 56.25rem) {
  .lessons {
    display: flex;
    align-items: center;
  }
}
.lessons__image {
  background-image: url("../images/undraw_education_f8ru.svg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80%;
}
@media (max-width: 43.74875rem) {
  .lessons__image {
    min-height: 20rem;
  }
}
@media (min-width: 56.25rem) {
  .lessons__image {
    flex: 2;
    order: 1;
    height: 31.25rem;
  }
}
.lessons__text {
  text-align: center;
}
@media (min-width: 56.25rem) {
  .lessons__text {
    flex: 2;
    order: 2;
  }
}
.lessons__text h2 {
  font-weight: 550;
  line-height: 1.5;
  margin-bottom: 1rem;
  text-decoration: underline;
  -webkit-text-decoration-color: hsl(52deg, 85%, 50%);
  text-decoration-color: hsl(52deg, 85%, 50%);
  -webkit-text-decoration-style: wavy;
  text-decoration-style: wavy;
  -webkit-text-decoration-style: wavy;
  text-decoration-style: wavy;
}
@media (min-width: 56.25rem) {
  .lessons__text h2 {
    text-align: left;
  }
}
.lessons__text p {
  line-height: 1.5;
}
@media (min-width: 56.25rem) {
  .lessons__text p {
    text-align: left;
  }
}
.lessons__text p:not(:last-child) {
  margin-bottom: 2rem;
}
.lessons__list {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  padding: 0.8125rem;
}
.lessons__list__icon {
  flex: 0 0 10%;
}
.lessons__list__description {
  flex: 1;
  margin: auto;
}

@media (min-width: 56.25rem) {
  .lessons2 {
    display: flex;
    align-items: center;
  }
}
.lessons2__image {
  background-image: url("../images/undraw_exams_re_4ios.svg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80%;
  margin-bottom: 1.875rem;
}
@media (max-width: 43.74875rem) {
  .lessons2__image {
    min-height: 20rem;
  }
}
@media (min-width: 56.25rem) {
  .lessons2__image {
    flex: 2;
    order: 2;
    height: 31.25rem;
  }
}
.lessons2__text {
  text-align: center;
}
@media (min-width: 56.25rem) {
  .lessons2__text {
    flex: 2;
    order: 1;
  }
}
.lessons2__text h2 {
  font-weight: 550;
  line-height: 1.5;
  margin-bottom: 1rem;
  text-decoration: underline;
  -webkit-text-decoration-color: hsl(264deg, 38%, 44%);
  text-decoration-color: hsl(264deg, 38%, 44%);
  -webkit-text-decoration-style: wavy;
  text-decoration-style: wavy;
  -webkit-text-decoration-style: wavy;
  text-decoration-style: wavy;
}
@media (min-width: 56.25rem) {
  .lessons2__text h2 {
    text-align: left;
  }
}
.lessons2__text p {
  line-height: 1.5;
}
@media (min-width: 56.25rem) {
  .lessons2__text p {
    text-align: left;
  }
}
.lessons2__text p:not(:last-child) {
  margin-bottom: 2rem;
}
.lessons2__list {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  padding: 0.8125rem;
}
.lessons2__list__icon {
  flex: 0 0 10%;
}
.lessons2__list__description {
  flex: 1;
  margin: auto;
}

.form-input {
  background-color: hsl(0deg, 0%, 100%);
  box-shadow: 20px 20px 40px hsl(52deg, 85%, 50%);
  border-radius: 1em;
  padding: 2em;
  width: 21.875rem;
  height: 29.375rem;
  margin-bottom: 3.125rem;
  position: relative;
}
@media (min-width: 43.75rem) {
  .form-input {
    width: 41.875rem;
  }
}

h1 {
  margin-bottom: 1.875rem;
  line-height: 1;
}

.form__group {
  display: flex;
  justify-content: flex-end;
}
.form__group > label {
  padding: 1.8125rem 1.125rem 1.8125rem 0;
  flex: 1;
  text-align: left;
  position: relative;
}
.form__group > input {
  flex: 2;
  width: 1.875rem;
  height: 2.5rem;
  font-family: "Comfortaa", cursive;
  font-weight: 600;
  color: hsl(0deg, 0%, 0%);
  border-radius: 10px;
  border: 1px solid hsl(0deg, 0%, 50%);
  margin: 1rem;
  margin-bottom: 1.25rem;
}
.form__group > input:focus {
  outline: none !important;
  border: 1px solid hsl(264deg, 38%, 44%);
  box-shadow: 0 0 10px hsl(264deg, 38%, 44%);
}

#name-error {
  margin-bottom: 0.625rem;
  color: hsl(0deg, 100%, 50%);
  margin-bottom: 0;
  font-size: 0.875rem;
  position: absolute;
  left: 39%;
  font-weight: 600;
}

#telephone-error {
  color: hsl(0deg, 100%, 50%);
  margin-bottom: 0;
  font-size: 0.875rem;
  position: absolute;
  left: 39%;
  font-weight: 600;
}

#email-error {
  color: hsl(0deg, 100%, 50%);
  margin-bottom: 0;
  font-size: 0.875rem;
  position: absolute;
  left: 39%;
  font-weight: 600;
}

#submit-error {
  color: hsl(120deg, 100%, 25%);
  font-size: 0.875rem;
  position: absolute;
  font-weight: 600;
  left: 33%;
  bottom: 6%;
}
@media (max-width: 43.74875rem) {
  #submit-error {
    left: 22%;
  }
}

.btn {
  margin-top: 0.5rem;
  margin-left: 2.5rem;
}
@media (min-width: 43.75rem) {
  .btn {
    margin-left: 11.4375rem;
  }
}

@media (min-width: 56.25rem) {
  .steps {
    display: flex;
    align-items: left;
  }
}
.steps__image {
  background-image: url("../images/undraw_teacher.svg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70%;
  min-height: 19rem;
}
@media (min-width: 43.75rem) {
  .steps__image {
    min-height: 36rem;
  }
}
@media (min-width: 56.25rem) {
  .steps__image {
    flex: 2;
    order: 1;
    height: 31.25rem;
    background-size: 80%;
  }
}
.steps__text {
  text-align: center;
  line-height: 1.5rem;
}
@media (min-width: 56.25rem) {
  .steps__text {
    flex: 2;
    order: 2;
    text-align: left;
  }
}
.steps__step {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  padding: 0.8125rem;
}
.steps__step__icon {
  flex: 0 0 10%;
}
.steps__step__description {
  flex: 1;
  margin: auto;
  line-height: 1.5rem;
}

.contact__text h2 {
  margin-bottom: 2.5rem;
  text-decoration: underline;
  -webkit-text-decoration-color: hsl(264deg, 38%, 44%);
  text-decoration-color: hsl(264deg, 38%, 44%);
  -webkit-text-decoration-style: wavy;
  text-decoration-style: wavy;
  -webkit-text-decoration-style: wavy;
  text-decoration-style: wavy;
}
.contact__text p {
  line-height: 1.5rem;
  font-size: 1.25rem;
}

.separator {
  border-bottom: solid 1px;
  position: relative;
  margin: 30px 0px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.footer {
  padding-top: 1.0625rem;
  padding-bottom: 1.0625rem;
  margin-bottom: 1.875rem;
  text-align: center;
}
@media (min-width: 43.75rem) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.footer__logo {
  width: 12.5rem;
  height: 1.375rem;
  font-size: 1.75rem;
  margin-bottom: 1.875rem;
}
.footer__links a {
  margin-top: 1.0625rem;
  padding: 0.625rem;
  font-size: 1.0625rem;
  font-weight: 600;
  transition: color 0.2s ease-in-out;
}
.footer__links a:not(:last-child) {
  margin-right: 30px;
}
@media (max-width: 56.24875rem) {
  .footer__links a {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */